<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CodeHollow.FeedReader" version="1.2.6" targetFramework="net48" />
  <package id="Microsoft.SyndicationFeed.ReaderWriter" version="1.0.2" targetFramework="net48" />
  <package id="System.Globalization" version="4.3.0" targetFramework="net48" />
  <package id="System.Linq" version="4.3.0" targetFramework="net48" />
  <package id="System.Runtime.Extensions" version="4.3.1" targetFramework="net48" />
  <package id="System.Xml.ReaderWriter" version="4.3.1" targetFramework="net48" />
  <package id="UDE.CSharp" version="1.1.0" targetFramework="net48" />
</packages>